{% extends 'admin/base_site.html' %}

{% load i18n div %}

{% block title %}{% trans 'Statistics for the website' %}{% endblock %}

{% block breadcrumbs %}
{% load i18n %}
    {% if not is_popup %}
        <div id="breadcrumbs">
            <a href="../../../">{% trans "Home" %}</a> &rsaquo;
            <a href="../../">Appview</a> &rsaquo;
            <a href="../">Views</a> &rsaquo;
            {% trans 'Statistics for the website' %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<h1>{% trans 'Statistics for the website' %}</h1>
<h2>{% trans 'Desktop vs Mobile' %}</h2>
<blockquote>
	<div style="margin-bottom:10px;">Desktop: <div style="text-align:center; color: white;width:{{ views.desktop|div:total|mul:5 }}px; height: 20px; background-color: blue;">{{ views.desktop }}</div></div>
	<div>Mobile:<div style="text-align:center; color: white;;width:{{ views.mobile|div:total|mul:10 }}px; height: 20px; background-color: blue;">{{ views.mobile }}</div></div>
</blockquote>
<br/>
<h2>{% trans 'Views' %}
<div id="changelist" class="container-full">
    <div class="module changelist-result">
        <table cellspacing="0">
            <thead>
                <tr>
                    <th>{% trans 'Base URL' %}</th>
                    <th>{% trans 'Visits count' %}</th>
                    <th>{% trans 'Percents' %}</th>
                    <th>{% trans 'Graphics' %}</th>
                </tr>
            </thead>
            <tbody>
				{% for stat in stats %}
					<tr>
						<td>{{ stat.url }}</td>
						<td>{{ stat.count }}</td>
						<td>{{ stat.count|div:total }} %</td>
						<td><div style="background-color: blue;height:20px; width:{{ stat.count|div:total|mul:3 }}px;color: white;"></div></td>
					</tr>					
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="module pagination">
        <ul class="pagination">
            <li class="results">
                <span>{{ stats|length }} au total</span>
            </li>
        </ul>
        <br clear="all" />
    </div>
</div>

{% endblock %}