{% extends 'admin/base_site.html' %}

{% load i18n keys month_to_string  %}

{% block title %}{% trans 'Statistics for the website' %}{% endblock %}

{% block breadcrumbs %}
{% load i18n %}
    {% if not is_popup %}
        <div id="breadcrumbs">
            <a href="../../../">{% trans "Home" %}</a> &rsaquo;
            <a href="../../">Appview</a> &rsaquo;
            <a href="../">Views</a> &rsaquo;
            {% trans 'Statistics for the website' %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<h1>{% trans 'Statistics by date for the website' %}</h1>
{% for year in stats %}
	<h3>Year : {{ year }}</h3>
	{% for month in stats|keys:year %}
		<h2>{{ month|month_to_string }}</h2>
		{% for day in stats|keys:year|keys:month %}
		<div style="margin-left: 10px;">
			<span style="display:inline-block; width: 50px;">{{ day }}</span>
			<span style="display:inline-block; background:lightgrey; height: 5px; border-radius: 5px;width: {{ stats|keys:year|keys:month|keys:day }}0px; margin-top: 2px;"></span>
			{{ stats|keys:year|keys:month|keys:day }}
		</div>
		{% endfor %}
	<br />
	{% endfor %}
	
{% endfor %}
{% endblock %}
