<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    {% load blog_tags %}
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>{{ blog.get_title }} - {% block title %}{% endblock %}</title>
        <!--[if lte IE 8]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script></style>
        <![endif]-->
    </head>
    <body>
        <header id="header">
            <a href="/">
            <h1>{{ blog.get_title }}</h1>
            <h5>{{ blog.get_subtitle }}</h5>
            </a>
        </header>
        <div id="container">
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <aside id="menu">
                <section class="menublock">
                    <header class="menu-title">
                        Search
                    </header>
                    <section class="item">
                        <form action="{% url search %}" method="post">
                            {% csrf_token %}
                            <input type="text" name="q" id="search" autocomplete="off" /><input type="submit"  value="" id="search-button"/>
                        </form>
                    </section>
                </section>
                <section class="menublock">
                    <header class="menu-title">
                        Last publications
                    </header>
                    {%for post in blog.get_latest%}
                    <div class="item">
                        <a href="{%url show_article post.Shortcut%}">{{post.Title}}</a>
                    </div>
                    {%endfor%}
                </section>
                <section class="menublock">
                    <header class="menu-title">
                        Categories
                    </header>
                    {%for categ in blog.get_categories%}
                    <div class="item">
                        <a href="{%url show_by_category categ.id%}">{{categ.Nom}}</a> ({{categ.get_articles_count}})
                    </div>
                    {%endfor%}
                </section>
                <section class="menublock">
                    <header class="menu-title">
                        Archives
                    </header>
                    {%for year, monthes in blog.get_history.items%}
                    <div class="item">
                        <div class="year">
                            <a href="{%url show_by_year year%}" title="Voir pour l'année {{year}}">{{year}}</a></div>
                        {%for month in monthes%}
                        <div class="month">
                            <a href="{%url show_by_month year month%}" title="Voir pour le mois de {{month|tostring}} de l'année {{year}}">{{month|tostring}}</a>
                        </div>
                        {%endfor%}
                    </div>
                    {%endfor%}
                </section>
                <section class="menublock">
                    <header class="menu-title">
                        Tags
                    </header>
                    <div class="item tag-cloud">
                    {%for count, size, tag in blog.get_tags%}
                    <span class="tag{{size}}"><a href="{%url show_by_tag tag.id%}" title="{{count}} article{{ count|pluralize }}">{{tag.Nom}}</a> </span>
                    {%endfor%}
                    </div>
                </section>
            </aside>
        </div>
        <footer id="footer">
            This is your footer
        </footer>
    </body>
</html>
